table.employee_list thead .sorting {
	cursor: pointer !important;
	position: relative;
}
table.employee_list thead .sorting > i {
	color: #c1c1c1;
}
table.employee_list thead .sorting > i.active {
	color: #212529;
}